   
h1 {
font-family:  Helvetica, Arial, sans-serif;
padding: 20px;
font-size: 50px;
text-align: left;
border-style: solid;
text-shadow: #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 2px rgba(206,89,55,0.27);}


header
{
  padding: 50px;
  text-align: center; 
  display: block;
  background-color: lightblue; 
}





h2
{font-family: Georgia, serif; 
font-size: 30px;
text-align: center;
padding: 15px;
width: 400px;
margin: 0 auto;
} 

h3
{ 
  font-family: Georgia, serif;
  font-size: 25px;
  letter-spacing: 3px;
  word-spacing: 2px;
  padding-top: 15px;
  text-align: center;
  margin: 0 auto;
}

p
{ 
font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: left}

sub
    {font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: center}

h5
{font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 2px;}

    
body {background-color:gray;}


  footer {
    background-color: palevioletred;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 2px;
    
  }

  ol 
  {font-weight: lighter;
   text-align: left;
 
   
  }


  .row {
    display: flex;
    padding: 0 4px;
  }
  
  .col {
    flex:1 ;
    padding: 0 4px;
  }
  
  .col img {
    margin-top: 8px;
    width: 80%;

  }

  .aside
  {width: 250px;
  border: 5px solid black;
  padding: 5px;
  }

  .hybrids
  {padding: 50px;
  margin: 10px;
  align-content: center}

  


.center 
{display: block;
margin-left:auto;
margin-right: auto;
width: 50%}

  ul {
    list-style-type: none;
    width: 200px; 
    margin:0;
    padding: 0;
    text-align: center;
    background-color: lightblue; 
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 2px;

  }
  
 nav li a {
      padding: 20px 20px;
    text-decoration: none;
  }

 nav a:link, a:visited {
    background-color: palevioletred;
    color:black;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  

  
 footer a:link, a:visited {
  background-color: palevioletred;
  color:black;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block; }


    footer a:hover, a:active {
      background-color:rgb(177, 186, 204); 
    }

    footer li a.active {
      background-color: lightblue;
      color: black; }


.subscriber-form-container {
  max-width: 650px;
  margin: 40px auto;
  border: 1px dashed gray;
  box-sizing: border-box;
}
.subscriber-form-container form {
  display: flex;
  flex-wrap: wrap;
}
.subscriber-form-container form input {
  margin: 6px;
  padding: 0.4rem;
  box-sizing: border-box;
}
.subscriber-form-container form input{
  flex: 1 1 150px;
}
.subscriber-form-container form input[type="email"] {
  flex: 2 1 300px;
}

#navcolumn
{
 display:flex;

}

nav ul 
{display: flex;
}

nav ul li {
  flex: 1;
}

nav
 {
  width: 35%;
  height: 50px; 
  padding: 0px;
  margin: 0 auto;
}

.page-container
{
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
 
}




.col iframe
{width: 100%;}
 



